  html{
   min-height:100%;
 }
 
 
 body {
        margin: 0;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        min-height:100vh;
        display:flex;
        flex-direction: column;
        position:relative;
      }
  
      ul {
        text-align: right;
        margin-left: 60px;
      }
  
      li:hover {
        color: #fff!important;
      }
  
      nav {
        background-color: #eee;
        top:0;
        width:100%;
      }
  
      a {
        text-decoration: none;
      }
  
      #logoDiv,#menuDiv {
        display: inline;
      }
  
      #logoDiv img {
        width: 65px;
        margin: 4px;
        margin-left: 20px;
      }

      
      #menuDiv {
        width: 70%;
        margin-top: 2px;
        margin-right: 20px;
        position: absolute;
        right: 0;
       
      }
  
      #menuDiv ul li {
        list-style: none;
        display: inline-block;
        color: rgb(87, 87, 160);
        padding: 8px;
      }
  
      #menuDiv ul li:hover {
        
        transition: .7s;
        color:#252525
        

      }
  
      .main_container {
        width: 98%;
        margin: 0 auto;
        /* overflow: hidden; */
      }
  
      .main_container div {
        display: inline-block;
        width: 40%;
        /* height: 0px; */
        vertical-align: top;
        padding: 10px;
        margin-right: 0px;
      }
  
    
      .middle_container {
        background-color: #fff;
      }
  
  
      footer {
        background-color: rgb(218, 214, 214);
        color: rgb(87, 87, 160);
        text-align: center;
        padding: 45px;
       margin-top: auto;
       font-size:15px;
      margin-bottom: 0;
      clear: both;
     
}


#mobile_menu_icon{
    display: none;
  }
  .searchCaption{
    display:none;
  }
.searchDiv{
  display: none;
}


  @media(max-width: 700px){

    #mobile_menu_icon{
    display: inline-block!important;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 12px;
    color: #252525;
    font-size: 36px;
    }

    #mobile_menu_icon, #logoDiv{
      display:block!important;
    }

      #menuDiv{
        margin-top: -18px;
          right: 100px;
          width: 100%!important;
          display: none;
    }
         #menuDiv ul li{
          display: block;
          background-color: #eee;
          text-align: center; 
          height:70px; 
          width:121%; 

         }
         
        #menuDiv ul li:hover{
          background-color:rgb(87, 87, 160);
          color:#eee;
          transition:.7s;
        }
    
        .main_container{
            width: 98%;
            margin-bottom: 94px;
        }
      
        .main_container div{
            width: 100%;
            margin-top: 22px;
    
        }

        
  



       .search{
           width:50%;
           color:#eee;
          background-color:rgb(189, 87, 4);
          font-size:25px;
          border:none;
          text-align:center;
          margin-left:20%;
         
          
       }     

       .search input{
           color:#eee;
           border:none;
       }
       
  .searchCaption{
      font-size:30px;
      position:absolute;
      margin-left:1020px;
      margin-top: 2px;
      color:#eee;
      display:block!important;
  }
  .searchDiv{
              padding: 8px;
                border: 1px rgb(4, 173, 189) solid;
                width: 98.4%; 
                height:8%;
                border-radius: 6px;
                margin-top: 0%;
                margin-bottom: 56px;
                position: absolute;
                background-color:rgb(189, 87, 4);
                display: none;
                z-index: 5;
  }

  
      .searchDiv .CloseSpan{
              
                font-size: 34px;
                 float: right; 
                 padding-right: 15px;
                 
              
            }
    .CloseSpan:hover{
        cursor:pointer;
        color:red;
    }
 
  .searchCaption:hover{
      cursor:pointer;
      color:rgb(189, 87, 4);
  }

  #searchResult{
 background-color:	rgb(189, 87, 4);
  width:47%;
  margin-left:20%; 
  color:#eee!important;
  list-style:none;
  margin-top:20px;
   padding-left:40px;
  }
    }